* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
	animation-name: example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	background-color: rgb(63, 63, 63);
}

input {
  display: none;
}

menu {
  display: flex;
  justify-content: center;
  margin: 80px auto 0 auto;
  width: 280px;
}

menu label {
  font-size: 18px;
  padding: 10px;
}

menu label:first-child {
  border-radius: 5px 0 0 5px;
}

input[type="radio"]:checked+label {
  background-color: #FFFFF0;
}

input[type="radio"]:not(:checked)+label {
  border: 1px solid black
}

.hidden {
  display: none;
}

#keyboard {
	display: flex;
	justify-content: center;
	border-radius: 0 0 5px 5px;
	margin-top: 50px;
}

.whiteKey {
	width: 60px;
	height: 200px;
	background-color: #FFFFF0;
}

.blackKey {
	width: 30px;
	height: 130px;
	background-color: black;
	margin: 0 -15px;
	z-index: 5;
}

.key {
	border-radius: 0 0 5px 5px;
	border: 1px solid black;
}

.key:focus {
	outline: 0;
}

.keyLabel {
	color: #FFFFF0;
  font-size: 25px;
  text-align: center;
  width: 30px;
}

.buttonLabel {
  border: 1px solid black;
  background-color: rgb(46, 46, 46);
  border-radius: 3px;
  box-shadow: 1px 1px black;
}

.animate {
	background-color: #97B5DA;
	animation-name: slideout;
	animation-duration: 4s;
}

@keyframes slideout {
	to {margin-top: 100%; opacity:0;}
}